
h2 {
    margin-top:40px;

}
.text {
    font-size: 120%;
    margin-left: 20%;
}

.images {
    text-align: center;
    margin: 20px;
}

xmp {
    display: inline;
}

.block {
    margin-left: 15%;
}
.code {
    background-color: rgba(51, 170, 51, .2);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.note {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(246, 239, 120,.6);
    padding: 20px 20px 20px 20px;
}