h2 {
    margin-top:40px;
}
.text {
    font-size: 120%;
    margin-left: 20%;
}

xmp {
    display: inline;
}

.block {
    margin: 20px;
    padding: 20px;
    width: 700px;
    margin-bottom: 20px;
    background-color: rgba(51, 170, 51, .2);
    border-radius: 20px;
}